@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body { 
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    min-height: 110vh;
    margin: 0 10vw 0 10vw;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


