<style>
    p {
        font-family: Arial, Helvetica, sans-serif;
    }

    .container {
        display: inline-block;
        width: 200px;
        height: 293px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        margin-right: 10px;
        border-radius: 2px;
        transition: box-shadow 0.15s
    }

    .container:hover {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }

    .img-big {
        width: 200px;
        height: 190px;
        object-fit: cover;
    }

    .details {
        margin: 5px;
        width: 100%;
        height: 100%;
    }

    .name-section {
        width: 200px;
        margin-bottom: 5px;
    }

    .name {
        margin: 0;
        display: inline-block;
        font-weight: bold;
        font-size: 17px;
    }

    .pfp-mutuals {
        width: 180px;
        height: auto;
        margin-bottom: 4px;
    }

    .pfp-section {
        width: 15%;
        display: inline-block;
    }

    .pfp {
        border-radius: 50%;
        object-fit: cover;
        object-position: 60% 20%;
        width: 100%;
        aspect-ratio: 1;
    }

    .mutuals-section {
        vertical-align: top;
        display: inline-block;
        margin-left: 3px;
        margin-top: 7px;
    }

    .mutuals {
        margin: 0;
        color: rgb(93, 93, 93);
        font-size: 12px;
    }

    .add-friend-section {
        width: 100%;
    }

    .add-friend-btn {
        border: none;
        margin: 0;
        padding: 7px 13px 7px 13px;
        background-color: rgb(37, 109, 216, 0.95);
        color: rgba(255, 255, 255, 0.9);
        border-radius: 2px;
        transition: box-shadow 0.15s;
        transition: background-color 0.15s;
        font-size: 13px;
    }

    .add-friend-btn:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        background-color: rgba(23, 95, 202, 0.9);
    }

    .add-friend-btn:active {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
        background-color: rgba(23, 95, 202, 0.8);
    }
</style>