.container {
    margin: 20px;
    padding: 0px;
    width: 600px;
    height: 600px;
    position: relative;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.item-img {
    margin: 0px;
    height: 600px;
    width: 600px;
    object-fit: cover;
    object-position: 50% 60%;
}

.sale-amount {
    position: absolute;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    top: 25px;
    right: 0px;
    padding: 10px 15px 10px 15px;
}

.add-to-cart-section {
    position: absolute;
    height: 185px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart-button {
    cursor: pointer;
    background-color: white;
    color: black;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px 15px 10px 15px;
    transition: box-shadow 0.15s;
    transition: background-color 0.1s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
}

.add-to-cart-button:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0);
}

.add-to-cart-button:active {
    background-color: rgba(255, 255, 255, 0.6)
}